* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  display: flex;
  width: 960px;
}

.main-box {
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.main-box:nth-last-child {
  margin-right: 0;
}

.step {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.main-img1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}
.main-img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.main-img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.title {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    display: block;
  }
  .main-box {
    width: 90%;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .main-box:nth-last-child {
    margin-bottom: 0;
  }

  footer {
    width: 100%;
  }
}
